body, html, #root{
	margin:0;
	padding:0;
	height: 100vh;
	background: #faf9fa;
}

.main{
	text-align: center;
	font-size: 50px;
	margin: 20px;
	font-family:cursive;
	color:#174c75;
	font-weight: bold;
}

.photoGrid {
	width: 100vw;
	height: 100vh;
	display: grid;
	grid-template-columns: auto auto auto;
	justify-content: center;
	align-items: center;
	grid-gap: 10px;
}
@media Screen and (max-width: 900px){
	.photoGrid{
		grid-template-columns: repeat(auto-fill,250px);
	}
}

.card{
	width: 250px;
	height: 400px;
	background-color: white;
	border:solid 3px lightgrey;
	position: relative;
	
}
.card img{
	width: 100%;
	height: auto;
	min-height: 60%;
	max-height: 75%;
	z-index:-1;
}

.card .like-animation{
	position: absolute;
	color: white;
	top:30%;
	left: 50%;
	transform: translate(-50%,-50%);

	animation-name: likeAnimation;
	animation-duration: 0.5s;
	animation-iteration-count: 2;
	animation-timing-function: ease-in-out;
	animation-direction: alternate;

}
@keyframes likeAnimation{
	from{
		font-size:0px;
	}
	to{
		font-size: 100px;
	}
}
.card .caption{
	width: 100%;
	height: auto;
	min-height: 10%;
	margin-top: 10px;
	margin-left: 20px;
}

.card .like-comment button{
	width: 100px;
	height: 40px;
	font-size: 15px;
	margin-left: 16px;
	border:solid 2px lightgrey;
	color: #174c75;
	font-weight: bold;
	text-decoration: none;
}
.card .like-comment button a{
	text-decoration: none;
	color: #174c75;
	font-size: 15px;
}
.card .like-comment button:nth-child(1){
	position: absolute;
	bottom:20px;
}
.card .like-comment button:nth-child(2){
	position: absolute;
	bottom:20px;
	left:116px;
}

.single{
	background-color: white;
	width: 100%;
	height: auto;
	border:solid 3px lightgrey;
	box-sizing: border-box;
	padding:10px;
}

.single-card{
	position: relative;
	width: 70%;
	height: 60%;
	display: block;
	margin:auto;

}
.single img{

	height: auto;
	max-width: 500px;
}
@media Screen and (max-width: 1100px){
	.main{
		font-size: 36px;
	}
	.single img{
		max-width: 60%;
	}
}

.single .caption{
	max-width: 500px;
	font-size: 18px;
	padding-left: 10px;
	margin-top: 5px;
}

.single button{
	width: 200px;
	height: 30px;
	background-color: white;
	border:solid 3px lightgrey;
	font-size: 18px;
	border-radius:10px;
}
@media Screen and (max-width: 800px){
	.single button{
		width: 60%
	}
}

.single button:nth-child(1){
	margin-right: 20px;
}

.single #comments{
	float: right;
	padding-top: 20px;
	padding-right: 5%;
	width: 30%;

}

.single input{
	border:none;
	width: 100%;
	height: 30px;
	cursor: pointer;
}

.comment .close{
	color: red;
	float: right;
	display: block;
	font-size: 20px;
}

.comment .close:hover{
}



